<style>
  .igl-explainer col {
    width: 50%;
  }
</style>

<table class="igl-explainer">
  <colgroup>
    <col class=line>
    <col class=description>
  </colgroup>
  <thead>
    <tr>
      <th>Line</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Central Alaskan Yup’ik (Inuit–Yupik–Unangan; Alaska)</strong>
      </td>
      <td>
        A header with some <strong>language information</strong>, such as its
        family and where it is spoken
      </td>
    </tr>
    <tr>
      <td>tuntussuqatarniksaitengqiggtuq</td>
      <td>A <strong>transcription</strong> of the example in the language.</td>
    </tr>
    <tr>
      <td>tuntu-ssur-qatar-ni-ksaite-ngqiggte-uq</td>
      <td>
        A breakdown of the <strong>morphemes</strong> (meaningful parts like
        stems, prefixes, and suffixes) in each word.
      </td>
    </tr>
    <tr>
      <td>reindeer-hunt-FUT-say-NEG-again-3SG:IND</td>
      <td>
        The <strong>glosses</strong> (brief definitions) for each morpheme.
        Grammatical categories are glossed using Latinate technical terms and
        labeled in SMALL CAPS. The meanings of the abbreviations are usually
        provided in a footnote or table somewhere in the text. You can see the
        abbreviations used in Linguistic Discovery’s content
        <a
          href="https://resources.linguisticdiscovery.com/Conventions-23650a282bc1803c99cad1e934036a64#23650a282bc18049a493f94754d64ca0"
          >here</a
        >.
      </td>
    </tr>
    <tr>
      <td>‘He had not yet said again that he was going to hunt reindeer.’</td>
      <td>The <strong>translation</strong> for the example.</td>
    </tr>
    <tr>
      <td>Payne (1997: 28)</td>
      <td>The bibliographic <strong>source</strong> of the example.</td>
    </tr>
  </tbody>
</table>
