<div class='kg-card kg-callout-card kg-callout-card-blue'>
  <div class=kg-callout-emoji>🆓</div>
  <div class=kg-callout-text>
    <p>Welcome to <cite>World of Words</cite>, a subscriber-only newsletter where I go in-depth about specialty topics in language and linguistics!</p>
    <br>
    <p>This is a free preview issue of the newsletter—I hope you enjoy it!</p>
    <br>
    <p>If you'd like access to the rest of the newsletter archive, subscribe at the link below! (Or you can read the rest of my free content <a href=/posts>on the blog</a>.)</p>
    <br>
    <p><b>Price:</b> $5/month (USD)</p>
    <!-- Patreon.html -->
    <div class='kg-card kg-button-card kg-align-center'>
      <a href=https://patreon.com/linguisticdiscovery class='kg-btn kg-btn-accent'>
        <svg class=button-icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve" width="1080" height="1080">
          <style type="text/css">.st0 { fill: #FFFFFF; }</style>
          <path class="st0" d="M1033.05,324.45c-0.19-137.9-107.59-250.92-233.6-291.7c-156.48-50.64-362.86-43.3-512.28,27.2 C106.07,145.41,49.18,332.61,47.06,519.31c-1.74,153.5,13.58,557.79,241.62,560.67c169.44,2.15,194.67-216.18,273.07-321.33 c55.78-74.81,127.6-95.94,216.01-117.82C929.71,603.22,1033.27,483.3,1033.05,324.45z" />
        </svg>
        <span>Become a patron!</span>
      </a>
    </div>
  </div>
</div>