.button-icon {
  height:            1em;
  margin-inline-end: 0.5em;
  width:             1em;
}

html {
  scroll-behavior: smooth;
}

.gh-article-image {
  grid-column: main;
}

/* Buttons contained inside callouts */
.kg-callout-card .kg-callout-text .kg-button-card {
  margin-block-start: 1.2em !important;
}

/* This seems to have been an oversight on Ghost's part. */
.kg-callout-text {
  width: 100%;
}

.kg-image-card img {
  max-block-size: 25em;
  width:          auto;
}

.kg-signup-card :is(
  .kg-signup-card-subheading,
  h2.kg-signup-card-heading,
  .kg-signup-card-input
) {
  font-size: 1em;
}

.kg-signup-card :is(.kg-signup-card-form, .kg-signup-card-disclaimer) {
  margin-block-start: 1em;
}

.kg-signup-card-text {
  padding: 1.5em 2em;
}

.price {
  text-align: center;
}